:root {
  --color-hover: #e74c3c;

  --white: #fff;
  --black: #000;

  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  
  background-color: var(--gray-15);

  height: 100vh;
  padding-top: 10px;
}

/* ROOT */
.root {
  position: relative;
}

/* MAP */
svg.map {
  display: block;
  margin: 0 auto;
}

/* LEGEND */
svg.legend {
  margin: 0 auto;
}

/* COUNTY PATH */
.county {
  stroke: none;

  &:hover {
    stroke: var(--color-hover);
    stroke-width: 1.5px;
  }
}

/* STATES PATH */
.states {
  fill: none;
  stroke: var(--gray-20);
}

/* TICK */
.tick {
  text {
    font-size: 1.2em;
    fill: var(--gray-40);
  }

  line {
    stroke: var(--gray-20);
  }
}

/* TITLE */
.title {
  text-align: center;
  font-size: 1.8em;
  color: var(--gray-40);
  margin-bottom: 10px;
}

/* DESCRIPTION */
.description {
  font-size: 1.6em;
  color: var(--gray-40);
}

/* RESET BUTTON */
.reset-btn {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(320px);

  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  font-size: .8em;
  text-transform: uppercase;
  border: 1px solid var(--gray-40);
  border-radius: 30px;
  color: var(--gray-40);
  background-color: var(--gray-15);
  transition: all .3s;

  &:hover {
    color: var(--gray-10);
    background-color: var(--gray-40);
  }
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .8);
  text-align: center;
 
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.tooltip-details {
  line-height: 1.7;
  text-align: left;
  align-self: flex-start;
}
